/* color palette from <https://github.com/vuejs/theme> */
:root {
  --co-white: #ffffff;
  --co-black: #000000;
  --co-grey-light: #f0dab1;
  --co-grey-dark: #6f6553;
  --co-grey-darkest: #3d382d;

  --radius: 5px;
}

/* semantic color variables for this project */
:root {
  --color-border: var(--co-grey-dark);
  --color-link: var(--co-grey-dark);
  --color-text: var(--co-grey-darkest);
  --color-text-dim: var(--co-grey-dark);
  --color-background: var(--co-white);
  --color-background-dim: var(--co-grey-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-border: var(--co-grey-light);
    --color-link: var(--co-grey-light);
    --color-text: var(--co-white);
    --color-text-dim: var(--co-grey-light);
    --color-background: var(--co-grey-darkest);
    --color-background-dim: var(--co-grey-dark);
  }
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  font-weight: normal;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

body {
  height: 100dvh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ol,
ul {
  padding: 0;
}
