/* color palette from <https://github.com/vuejs/theme> */
:root {
    --vt-c-white: #ffffff;

    --vt-c-black: #000000;

    --vt-c-indigo: #2c3e50;
    --vt-c-divider-dark-1: rgba(84, 84, 84, 0.84);
    --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

    --vt-c-text-light-1: var(--vt-c-indigo);
    --vt-c-text-light-2: rgba(60, 60, 60, 0.66);

    --vt-c-text-dark-1: var(--vt-c-white);
    --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
    --color-border: var(--vt-c-divider-dark-2);
    --color-text: var(--vt-c-text-light-1);
    --color-background: var(--vt-c-white);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-border: var(--vt-c-divider-dark-1);
        --color-text: var(--vt-c-text-dark-2);
        --color-background: var(--vt-c-black);
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
}

body {
    height: 100dvh;
    color: var(--color-text);
    background: var(--color-background);
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
