@import "./base.css";

/* Layout */
.container {
    height: 100vh; /* Chrome v104 or earlier */
    height: 100svh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "main"
        "nav";
    background: #fff url(/src/assets/logo.webp) no-repeat 50% / 70% auto;
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "body"
        "footer";
    grid-area: main;
    background: var(--color-background);
    overflow: auto;
}

.body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "body-nav"
        "body-content";
    grid-area: body;
    overflow: auto;
}

.footer {
    grid-area: footer;
    box-shadow: 0px -10px 25px 10px #00000011;
}

/* Navigation */
.nav {
    grid-area: nav;
    text-align: center;
    padding: 0.5rem 1rem 1rem;
    background: var(--color-background);
}

.nav .router-link,
.nav a {
    display: inline-block;
    margin: 0 -1px 0 0;
    padding: 0.2rem 0.6rem;
    border-left: 1px solid var(--color-border);
    color: var(--color-link);
    text-decoration: none;
    border: 1px solid;
    border-radius: 2px;
}

.nav .router-link-active,
.nav a.current {
    border-width: 2px;
    color: var(--color-text);
    background: var(--color-background-dim);
    font-weight: bold;
}

/* Buttons */
button {
    min-width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 2px;
    color: var(--color-background-dim);
    background: var(--color-text);
    font-size: 1rem;
}

/* Headings */
.center {
    margin-bottom: 0.5rem;
    text-align: center;
    justify-content: center;
}
  
.subtitle {
    color: var(--color-text-dim);
    text-transform: uppercase;
    letter-spacing: 0.3ex;
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
}

/* Dialogs */
dialog {
    position: fixed;
    top: 1%;
    left: 1%;
    width: 98%;
    height: 98%;
    padding-bottom: 30%;
    place-content: center;
    z-index: 1;
}

dialog[open] {
    display: grid;
}
  
dialog::backdrop {
    background: #000000cc;
}
