@import "./base.css";

/* Layout */
.container {
    height: 100vh; /* Chrome v104 or earlier */
    height: 100svh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "main"
        "nav";
    background: #fff url(/src/assets/logo.webp) no-repeat 50% / 70% auto;
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "body"
        "footer";
    grid-area: main;
    background: var(--color-background);
    overflow: auto;
}

.body {
    grid-area: body;
    overflow: auto;
}

.body.keyboard-visible {
    max-height: 35svh;
}

.footer {
    grid-area: footer;
}

.nav {
    grid-area: nav;
    text-align: center;
    padding: 0 1rem 1rem;
    background: var(--color-background);
}

/* Navigation */
.nav a {
    display: inline-block;
    padding: 0 1rem;
    border-left: 1px solid var(--color-border);
    color: var(--color-text);
}

.nav a:first-of-type {
    border: 0;
}
